/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@use './theming/palette' as devpr;

@import './theming/app';
@import './theming/custom';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Georama', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
