/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@use './theming/palette' as devpr;

@include mat.core();

$my-primary: mat.define-palette(devpr.$green-palette);
$my-accent: mat.define-palette(devpr.$light-green-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Georama', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
