@include mat.core();

$my-primary: mat.define-palette(devpr.$green-palette);
$my-accent: mat.define-palette(devpr.$light-green-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
