<devpr-navigation #nav="navigation">
  <devpr-header [title]="title">
    <button
      type="button"
      aria-label="Abre / Fecha navegação"
      mat-icon-button
      (click)="nav.drawer.toggle()"
    >
      <mat-icon aria-label="Ícone de menu">menu</mat-icon>
    </button>

    <a mat-button *ngFor="let link of navigation.links$ | async" [routerLink]="link.path">
      <mat-icon>{{ link.icon }}</mat-icon>
      <span>{{ link.label }}</span>
    </a>

  </devpr-header>

  <router-outlet></router-outlet>
</devpr-navigation>
